<h1> <%= @chosen_category %> </h1>

<p>Frage: <%= @question_text %> </p>
<% if defined? @image_name != nil # checks if there is @image_name is available aka if there is an image available%>
  <%= image_tag(@image_name) %>
<% end %>
<p><%= @question_answer %></p>

<div>
  <%= link_to "Falsch beantwortet. Nächste Frage", training_path(chosen_category: @chosen_category) %>
</div>
<div>
  <%= link_to "Korrekt beantwortet. Nächste Frage", training_path(chosen_category: @chosen_category) %>
</div>
<div>
  <%= link_to "Zurück zum Überblick", overview_path %>
</div>
