<div class="section ">
   <div class="container ">
      <div class="row mt-5 position-relative">
         <div class="col-md-12">
            <div class="que">
               <div class="row wit-bx mt-2 mb-4 mx-2 ps-2 ps-lg-5 py-5 pe-3">

                  <div class="col-md-9 blue_area mb-0 mb-lg-5">
                    <h1 class="heading"><strong><%= @chosen_category %></strong></h1>
                    <p><%= @sub_category %></p>
                  </div>
                  <div class="col-md-3 mb-0 mb-lg-5">
                    <div class="row qbx m-0 float-md-end float-start">
                      <div class="col-6">
                        <span class="green_txt"><%= @counter_correctly_answered %>x korrekt</span>
                      </div>
                      <div class="col-6">
                        <span class=""><%= @counter_incorrectly_answered %>x falsch</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="que_area">
                      <h5 class="fw-bold">Frage</h5>
                      <p><%= @displayed_question.html_safe %></p>
                    </div>
                    <div class="img-q float-end text-center">
                      <% if defined? @image_name != nil # checks if there is @image_name is available aka if there is an image available%>
                        <%= image_tag(@image_name)%>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-12 my-3 text-lg-start text-center">
                    <%= link_to "Antwort ansehen", answer_path(chosen_category: @chosen_category, question_id: @question_id), class: "btn btn-outline-primary ansbtn" %>
                  </div>

               </div>

              <div class="col-md-12 text-lg-start text-center">
                <%= link_to "Zurück zum Überblick", overview_path, class: "btn btn-link" %>
              </div>

            </div>
         </div>
      </div>
   </div>
</div>
