<div class="section pt-0 pt-lg-5">
  <div class="container ">
    <div class="row mt-5 position-relative">
      <div class="col-md-6 mainLeft">
        <h1 class="main_heading">SKS <strong>Theorie lernen</strong></h1>
        <p>Alle Fragen für die SKS Prüfung. Kostenlos.</p>
        <%= link_to 'Zum Fragen Trainer', overview_path, class: "btn btn-primary btn-theme" %>
      </div>
      <div class="col-md-6">
        <div class="rot">
          <div class="row">
              <div class="col-6">
                  <div class="row wit-bx mt-2 mb-4 mx-2 p-3">
                      <div class="col-3 ibx bg-purple">
                        <%= image_tag "navigation.png" %>
                      </div>
                      <div class="col-8 txtbx">
                        <h4><strong>Navigation</strong><br>
                        181 Fragen</h4>
                      </div>
                  </div>
              </div>
              <div class="col-6">
                  <div class="row wit-bx mt-2 mb-4 mx-2 p-3">
                      <div class="col-3 ibx bg-lightblue">
                        <%= image_tag "schifffahrtsrecht.png" %>
                      </div>
                      <div class="col-8 txtbx">
                        <h4><strong>Schiffahrtsrecht </strong><br>
                        110</h4>
                      </div>
                  </div>
              </div>
              <div class="col-6">
                  <div class="row wit-bx m-2 p-3">
                      <div class="col-3 ibx bg-pink">
                        <%= image_tag "wetterkunde.png" %>
                      </div>
                      <div class="col-8 txtbx">
                        <h4><strong>Wetterkunde</strong><br>
                        101 Fragen</h4>
                      </div>
                  </div>
              </div>
              <div class="col-6">
                  <div class="row wit-bx m-2 p-3">
                      <div class="col-3 ibx bg-purple">
                        <%= image_tag "seemannschaft_1.png" %>
                      </div>
                      <div class="col-8 txtbx pe-0">
                        <h4><strong>Seemannschaft I</strong><br>
                        163 Fragen</h4>
                      </div>
                  </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
